<!--DOCTYPE html -->
<html>


<body>
<a href="/landmarks/create/">create a new landmark</a>

<h1>{{ title }} </h1>

{% for obj in object_list %}
{% url "landmarks:details" id=obj.id %}
<a href='/landmarks/{{ obj.id }}'>
id: {{ obj.id }}<br/>
title: {{ obj.title }}</a><br/>
description: {{ obj.description }}<br/>
country: {{ obj.country.name }}<br/>
created_at: {{ obj.created_at }}<br/>
updated_at: {{ obj.updated_at }}<br/>
latitude: {{ obj.latitude }} <br/>
longitude: {{obj.longitude}} <br/>
<br/><br/>
<script>
        function myMap() {
            var mapOptions = {
                center: new google.maps.LatLng("{{obj.latitude}}", "{{obj.longitude}}"),
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.HYBRID
            }
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        }
</script>
        
        <script src="http://maps.google.com/maps/api/js?sensor=false&callback=myMap">
</script>
        
{% endfor %}


</body>

</html>